<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WvW-Datacollector</title>
    <% if (!dataFetchError) { %>
        <script type="application/javascript" src="node_modules/chart.js/dist/chart.js"></script>
        <script src="node_modules/socket.io/client-dist/socket.io.js"></script>
        <script type="application/javascript" src="chartHandler.js"></script>
    <% } %>
</head>
<body>
    <% if(dataFetchError) { %>
        <div id="dataFetchError">
            Error occured while fetching data!
        </div>
    <% } %>
    <canvas id="scoresChart"></canvas>
</body>
</html>